* {
  padding: 0;
  margin: 0;
}
.main {
  background-color: rgb(0, 0, 0);
  /* height: 900vh; */
}
nav {
  margin-top: 4vh;
  /* background-color: blue; */
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  position: fixed;
}
.location {
  height: 5vh;
  width: 15vh;
  background-color: rgb(53, 62, 73);
  border-radius: 30vh;
  border: 0;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: white;
}
.beinhere {
  height: 5vh;
  width: 15vh;
  background-color: rgb(53, 62, 73);
  border-radius: 30vh;
  border: 0;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: white;
}
.equity {
  height: 5vh;
  width: 35vh;
  background-color: rgb(53, 62, 73);
  border-radius: 30vh;
  border: 0;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: white;
}
.students {
  height: 5vh;
  width: 15vh;
  background-color: rgb(53, 62, 73);
  border-radius: 30vh;
  border: 0;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: white;
}
.hire {
  height: 5vh;
  width: 20vh;
  background-color: rgb(53, 62, 73);
  border-radius: 30vh;
  border: 0;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: white;
}
.alljobs {
  height: 5vh;
  width: 15vh;
  background-color: rgb(225,225,226);
  border-radius: 30vh;
  border: 0;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: white;
  margin-top: 3vh;
  margin-right: 5vh;
}
.alljobs:hover{
    background-color: rgb(207,245,106);
}
.src {
  margin-left: 8vh;
}
.nava {
  margin-top: 3vh;
}
.lphero {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  overflow-x: scroll;
  cursor: grab;
}
.lphero::-webkit-scrollbar {
  display: none;
}
.img {
  border-radius: 20px;
  cursor: grab;
}
.bigsearch {
  width: 97%;
  background-color: white;
  height: 15vh;
  border-radius: 30vh;
  margin-left: 3vh;
  display: flex;
}
.search {
  font-size: 10vh;
}
.input {
  font-weight: 400;
  font-size: 22px;
  font-family: sans-serif;
  width: 85%;
  border: 0;
  outline: 0;
}
.arrow {
  height: 65px;
  width: 65px;
  border-radius: 100%;
  background-color: black;
  color: white;
  font-size: 10vh;
  margin-top: 2vh;
  margin-left: 4vh;
}
.arrow:hover {
  background-color: white;
  color: black;
}
.girls {
  border-radius: 30px;
}
.onee {
  margin-top: 40vh;
  display: flex;
  gap: 3vh;
}
.eon {
  background-color: rgb(200, 125, 255);
  width: 104vh;
  height: 60vh;
  border-radius: 30px;
  padding-left: 6vh;
  padding-right: 6vh;
  padding-top: 6vh;
}
.one{
   display: flex;
  gap: 70vh;
}
.who {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 13.2857px;
  color: black;
}
.on{
    display: flex;
    flex-direction: column;
}
.two{
  background-color: rgb(200, 125, 255);
  width: 104vh;
  height: 20vh;
  border-radius: 30px;
  padding-left: 6vh;
  padding-right: 6vh;
  padding-top: 6vh;
  margin-top: 3.5vh;
}
.band{
    color: black;
    font-weight: 900;
    font-size: 36px;
    font-family: sans-serif;
    width: 70vh;
}
.culture{
    font-weight: 300;
    font-size: 19px;
    color: black;
    width: 70vh;
}
.read{
    background-color: black;
    color: white;
    width: 35vh;
    height: 7vh;
    border-radius: 30px;
    border: 0;
}
.read:hover{
    color: black;
     background-color: rgb(200, 125, 255);
}
.featured{
    color: white;
    font-weight: 800;
    font-size: 42px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin-top: 45vh;
}
.mdata{
    display: flex;
    gap: 3vh;
}
.data{
    width: 600px;
    height: 600px;
    background-color: white;
    border-radius: 30px;
    padding-left: 6vh;
    padding-top: 7vh;
}
.research{
    font-weight: 300;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    letter-spacing: 1px;
}
.scientist{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 35px;
}
.apply{
    border-radius: 30px;
    width: 25vh;
    height: 8vh;
    color: white;
    background-color: black;
    border: 0;
    margin-top: 65vh;
}
.apply:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}
.abc{
    display: flex;
    gap: 3vh;
}
.img4{
    border-radius: 30px;
}
.au{
    text-align: center;
    margin-top: 4vh;
}
.audio{
    font-size: 22px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(187,181,190);
    width: 100vh;
    margin-left: 60vh;
}
.marquee-container {
  width: 100%;
  overflow: hidden; /* Hides the cards that move outside the box */
  background: black;
  padding: 20px 0;
}

.marquee-track {
  display: flex;
  width: max-content; /* Ensures the track is as wide as all cards combined */
  animation: scroll 20s linear infinite;
}

/* .card {
  width:30vw;
  height:50vh;
  margin: 0 15px;
  background: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 7rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
} */
.card1 {
  width: 30vw;
  height: 30vh;
  margin: 0 15px;
  background: white;
  border-radius: 20px;
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 7rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.card1:hover {
  background-color: green;
}
.card2 {
  width: 35vw;
  height: 30vh;
  margin: 0 15px;
  background: white;
  border-radius: 20px;
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 7rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.card2:hover {
  background-color: green;
}
.card3 {
  width: 42vw;
  height: 30vh;
  margin: 0 15px;
  background: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  color: black;
  justify-content: center;
  font-weight: bold;
  font-size: 7rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.card3:hover {
  background-color: green;
}
.card4 {
  width: 37vw;
  height: 30vh;
  margin: 0 15px;
  background: white;
  border-radius: 20px;
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 7rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.card4:hover {
  background-color: green;
}

/* The Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    /* Move the track left by exactly half its width */
    transform: translateX(-50%);
  }
}

/* Optional: Pause on hover */
.marquee-container:hover .marquee-track {
  animation-play-state: paused;
}
.city {
  /* margin-left: 2.5vw; */
  width: 17vw;
  height: 30vh;
}
.city img {
  border-radius: 20px;
  width: 17vw;
  height: 30vh;
}
.fresh {
  margin-top: 15vh;
}
.nerds {
  display: flex;
  gap: 10px;
  margin-top: 5vh;
}
.nerd1 {
  margin-left: 10px;
  width: 50vw;
  height: 75vh;
  background-color: white;
  border-radius: 20px;
}
.nerd1 h1 {
  margin-left: 3vw;
  margin-top: 5vh;
  font-size: 40px;
  font-weight: 800;
  color: black;
  font-family: sans-serif;
}
.nerd2 {
  width: 15vw;
  height: 75vh;
  background-color: rgb(200, 125, 255);
  border-radius: 20px;
}
.nerd2:hover {
  background-color: green;
}
.nerd3 {
  width: 15vw;
  height: 75vh;
  background-color: rgb(200, 125, 255);
  border-radius: 20px;
}
.nerd3:hover {
  background-color: green;
}
.nerd4 {
  width: 15vw;
  height: 75vh;
  background-color: rgb(200, 125, 255);
  border-radius: 20px;
}
.nerd4:hover {
  background-color: green;
}
.button3{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-left: 40vh;
}
.discover{
    width: 130vh;
    height: 15vh;
    border-radius: 30vh;
    display: flex;
    justify-content: space-between;
    gap: 50vh;
    border: 0;
    padding-left: 1vh;
    background-color: rgb(26,26,26);
}
.discover:hover{
    background-color: rgb(137,188,248);
    color: white;
}
.a{
    text-decoration: none;
}
.discove{
   color: white;
    font-weight: 300;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 6vh;
    margin-top: 4vh;
}
.arro{
   font-size: 50px;
   font-weight: 900;
   color: white;
}
.good {
  margin-top: 20vh;
  display: flex;
  gap: 25px;
}
.sound {
  margin-left: 2vw;
  width: 32vw;
  height: 68vh;
  background-color: rgb(137, 188, 248);
  border-radius: 700px;
  margin-left: 5px;
}
.sound h2 {
  margin-top: 25vh;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  color: black;
}
.know {
  font-size: 23px;
  margin-top: 35vh;
  width: 30vw;
  height: 32vh;
  border-radius: 25px;
  background-color: rgb(137, 188, 248);
}
.know p {
  font-size: 25px;
  margin-left: 3vw;
  margin-top: 5vh;
  color: black;
  font-weight: 300;
  line-height: 30px;
}
.faqs {
  margin-top: 35vh;
}
.faq2 {
  margin-top: 10px;
  width: 28vw;
  height: 15vh;
  background-color: rgb(255,255,255);
  border-radius: 50px;
}
.faq2:hover{
    background-color: rgb(200,125,255);
}
.faq2 p {
  padding-top: 3vh;
  margin-left: 2vw;
  font-size: 35px;
  font-weight: 700;
  color: black;
}
.big{
    margin-top: 4vh;
}
.boxes {
  display: flex;
  justify-content: space-around;
  margin-top: -1px;
}
.comm {
  margin-left: 5px;
  width: 23.8vw;
  height: 63vh;
  background-color: rgb(26, 26, 26);
  border-radius: 20px;
}
.comm p {
  color: white;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  margin-top: 5vh;
  margin-left: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}
.comm ul {
  margin-top: 20vh;
  list-style: none;
  font-size: 22px;
  line-height: 37px;
  color: white;
  font-weight: 400;
}
.comm:hover {
  background-color: white;
  color: black;
}
.comm:hover p {
  color: black;
}
.comm:hover ul {
  color: grey;
}
.stay {
  width: 23.8vw;
  height: 63vh;
  background-color: rgb(26, 26, 26);
  border-radius: 20px;
}
.stay p {
  color: white;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  margin-top: 5vh;
  margin-left: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}
.stay ul {
  margin-top: 14vh;
  list-style: none;
  font-size: 22px;
  line-height: 37px;
  color: white;
  font-weight: 400;
}
.stay:hover {
  background-color: white;
  color: black;
}
.stay:hover p {
  color: black;
}
.stay:hover ul {
  color: grey;
}
.career {
  width: 23.8vw;
  height: 63vh;
  background-color: rgb(26, 26, 26);
  border-radius: 20px;
}
.career p {
  color: white;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  margin-top: 5vh;
  margin-left: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}
.career ul {
  margin-top: 20vh;
  list-style: none;
  font-size: 22px;
  line-height: 37px;
  color: white;
  font-weight: 400;
}
.career:hover {
  background-color: white;
  color: black;
}
.career:hover p {
  color: black;
}
.career:hover ul {
  color: grey;
}
.Equity {
  margin-right: 5px;
  width: 23.8vw;
  height: 63vh;
  background-color: rgb(26, 26, 26);
  border-radius: 20px;
}
.Equity p {
  color: white;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  margin-top: 5vh;
  margin-left: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}
.Equity ul {
  margin-top: 20vh;
  list-style: none;
  font-size: 15px;
  line-height: 30px;
  color: white;
  font-weight: 300;
}
.Equity:hover {
  background-color: white;
  color: black;
}
.Equity:hover p {
  color: black;
}
.Equity:hover ul {
  color: grey;
}
.aa{
    text-decoration: none;
    color: rgb(203,209,209);
}
.c2025 {
  display: flex;
  margin-left: 5px;
  gap: 3vw;
  margin-top: 2vh;
  font-size: 15px;
  font-weight: 300;
  color: grey;
}