*{
    padding: 0;
    margin: 0;
}
.bac {
  background-color: rgb(18, 18, 18);
}
.bac2 {
  /* background-color: turquoise; */
  height: 160vh;
  width: 70vh;
  margin-left: 70vh;
}
.logo {
  padding-left: 33vh;
  padding-top: 20vh;
}
.welcome {
  padding-left: 8vh;
  font-weight: 800;
  font-family: sans-serif;
  font-size: 48px;
  color: rgb(255, 255, 255);
  letter-spacing: -4px;
}
.address {
  font-weight: 700;
  font-size: 14px;
  font-family: sans-serif;
  color: #fff;
  margin-left: 7vh;
  margin-top: 6vh;
}
.email {
  margin-left: 6vh;
  margin-top: 1vh;
  width: 55vh;
  height: 7vh;
  border-radius: 5px;
  border: 1px solid;
  background-color: rgb(18, 18, 18);
  font-size: 16px;
  font-weight: 400;
  font-family: sans-serif;
  padding-left: 4vh;
  color: rgb(145, 144, 157);
  margin-bottom: 4vh;
}
.email:hover {
   border: 1px solid white;
}
.continue {
  background-color: rgb(30, 215, 96);
  width: 61vh;
  height: 10vh;
  border-radius: 40px;
  border: 0;
  margin-left: 6vh;
  margin-top: -2vh;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.or{
   font-size: 16px;
   font-weight: 400;
   color: white;
   margin-left: 35vh;
   margin-top: 3vh;
   margin-bottom: 3vh;
}
.gl{
    margin-right: 45vh;
}
.google{
    width: 62vh;
    height: 9vh;
    background-color: rgb(18,18,18);
    border-radius: 40px;
    border: 0;
    border: 1px solid rgb(68,68,68);
    margin-left: 7vh;
    margin-top: 1vh;
}
.google:hover{
    border: 1px solid white;
    width: 63vh;
}
.tgoogle{
    font-weight: 700;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    margin-top: -5vh;
}
.dont{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 23vh;
    margin-top: 8vh;
    color: rgb(179,179,179);
}
.bm{
    background-color: rgb(18,18,18);
    font-size: 16px;
    font-weight: 700;
    border: 0;
    margin-left: 33vh;
    color: #fff;
    margin-top: 5vh;
}
.site{
    color: rgb(146,146,146);
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 400;
    margin-left: 10vh;
    margin-top: 15vh;
    width: 59vh;
    text-align: center;
}
.linl{
    color: rgb(146,146,146);
}